@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/7XUFZ5tgS-tD6QamInJTcZ_o9VAbKgK36i-4snuAuCM.woff) format('woff');
}

body {
    font-family: 'Titillium Web', sans-serif;
    top: 0px;
    font-size: 16px;
    line-height: 2;
    color:#666666;
    background: #2a2113;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 300;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  margin: 10px 0 10px 0;
}

.main-content{
    display:block;
    min-width: 930px;
    font-size:18px;
    font-weight:300;
}

.header-container{
    background-color:#d01c8b;
}

.top-container{
    background-image:url(../img/website_back.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:#ffd4aa;
    background-position: 0px 0px;
    background-size:cover;
    padding:10px;
    max-width:100%;
    z-index:2;
}

.top-content{
    min-height: 400px;
    margin:40px 20px 40px 20px;
    color:#666666;
}

.top-right{
    margin-left:350px;
}

.sns-container{
    background-color:#2a2113;
    padding:0px;
    max-width:100%;
    z-index:1;
}

.sns-content{
    background-image:url(../img/ss_top.png);
    background-repeat: no-repeat;
    background-size:contain;
    margin:30px 0px 30px 0px;
    color:#f7f7f7;
}

.sns-right{
    margin-left:68%;
}

.detail-container{
    background-color:#f7f7f7;
    padding:10px;
}

.detail-content{
    /* background-image:url(../img/mechanism.png); */
    background-repeat: no-repeat;
    background-size:450px auto;
    background-position:0px 50px;
    min-height: 400px;
    margin:20px 0px 20px 0px;
}

.detail-right{
    font-weight: bold;
    margin-left:510px;
}

.mechanism-container{
    background-color:#b8e186;
    padding:10px;
}

.footer-container{
    background-color:#2a2113;
    padding:10px;
    text-align:center;
    color:#cccccc;
    font-size:15px;
    font-weight: bold;
    margin:30px 0px 30px 0px;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

#twitter-widget-0{
  width:90px !important;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 20px 10px 20px;
  color: #fff;
  background:#ea5906 no-repeat 95% 50%;
/* background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;*/
  font-weight: 300;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 40px 10px 10px 10px;
}

#project_title {
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 80px;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  line-height: 120%;
  text-shadow: #111 0px 0px 10px;
  background-image: url(/assets/img/icon_white.png);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: left center;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #f0f2f4;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 0px;
  padding-bottom: 20px;
}

#footer_wrap {
  background: #212121;
  padding-top:60px;
  padding-bottom:50px;
}

.sub_header p{
    padding: 0px 0px 0px 7px;
    margin: 0px 0px 8px 0px;
    font-weight:300;
}

.footer-icon{
    padding: 5px;
    opacity: 0.8;
    width: 60px;
    filter: alpha(opacity=80);
    -webkit-transition: 0.3s ease-in-out;
       -moz-transition: 0.3s ease-in-out;
         -o-transition: 0.3s ease-in-out;
             transition: 0.3s ease-in-out;
}
a:hover .footer-icon{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.image-on-frame{
    position: relative;
    display: block;
    max-width: 90%;
    padding: 5px;
    margin: 10px auto 10px auto;
    border: 1px solid #ebebeb;

    box-shadow: 0 0 5px #ebebeb;
    -webkit-box-shadow: 0 0 5px #ebebeb;
    -moz-box-shadow: 0 0 5px #ebebeb;
    -o-box-shadow: 0 0 5px #ebebeb;
    -ms-box-shadow: 0 0 5px #ebebeb;
}

.image-center{
    position: relative;
    display: block;
    max-width: 90%;
    padding: 5px;
    margin: 10px auto 10px auto;
}

.image-center-small{
    position: relative;
    display: block;
    max-width: 60%;
    padding: 5px;
    margin: 10px auto 10px auto;
}


.image-trimmed-by-circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-size: contain;
}

.image-fade{
    visibility: hidden;
}

#movie {
    float: left;
}